/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.card-grid {
 
  margin: 50px 50px 50px 80px;
  padding: 25px 50px 75px 100px;
 
  
}

.grid--4 {
  display: "inline-grid";
  flex-wrap: "wrap";
}

.grid__item {
  flex-basis: calc(25% - 10px);
    margin-left: 10px;
    margin-bottom: 16px;
    flex: 1 1 auto;
    text-align: "center";
    

} */

.grid-container {
  display: "inline-flex";
  grid-row-gap: 50px;
  grid-row: 1 / 4;
  border: 1px black solid;
  flex-direction: 'row';
  
}

.container {
  
  grid-row-gap: 20px;
  grid-row: 1 / 6;
  border: 1px black solid;
  flex-direction: 'wrap';
  
}


.footer {
  position: "absolute";
  bottom: 0;
  width: 100%;
  height: 0rem;
  padding:"auto";
          
}

.content-wrap {
  padding-bottom: 2.5rem;
}

/* .footer-color{
  background-color: black;
} */
/* .cards {
  position: absolute;

} */

/* homepage */
.homeH1{
  text-align: center;
  padding: 32px;
}

.imgPet{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.container { 
  height: 100px;
  position: relative;
  border-style: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.homeH2{
  text-align: center;
}

.statement{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}